body {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
}

 ::-webkit-scrollbar {
    width: .8rem;
}

 ::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 91%);
}

 ::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 60%);
    border-radius: 1rem;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 74%);
}

//główna
.context-główna {
    display: flex;
    background: url(../../assets/images/DSC00078.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //prawa część
    .right-row {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        float: right;
        margin: 2rem;
        margin-top: 6rem;
        //kontener
        .container {
            padding: 2rem;
            padding-top: 0.1rem;
            //nagłówek
            h2 {
                font-weight: 500;
                margin: 0.5rem;
                font-family: 'Abel', sans-serif;
                text-align: right;
            }
            //obraz
            img,
            iframe,
            .adm {
                height: 20rem;
                width: 30rem;
                border: 5px hsla(0, 0%, 0%, 0.324) solid;
                border-radius: 5px;
            }
            .adm {
                background-color: white;
            }
        }
    }
    //lewa część
    .left-row {
        display: grid;
        margin: 2rem;
        margin-top: 6rem;
        gap: 1rem;
        //kontener
        .container {
            padding: 1rem;
            font-size: x-large;
            font-family: 'Roboto', sans-serif;
            //tekst
            h1 {
                font-family: 'Abel', sans-serif;
                font-weight: 600;
            }
            h3 {
                font-family: 'DM Mono', monospace;
                font-weight: 600;
            }
            p {
                font-weight: 300;
            }
            ul {
                font-weight: 300;
                font-size: large;
                list-style-type: circle;
                list-style-position: inside;
                backdrop-filter: blur(1px);
                width: 33%;
                padding: .5rem;
                border-radius: 1rem;
                line-height: 1.75rem;
            }
        }
    }
    //kontener ogólnie
    .container {
        border-radius: 1rem;
        box-shadow: 10px 0px 100px 0px hsla(0, 0%, 0%, 0.545);
        background: hsla(0, 0%, 0%, 0.524);
        backdrop-filter: blur(3px);
    }
}

//kuchnia
.kuchnia {
    background: url(../../assets/images/DSC00525.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .context-kuchnia {
        margin: 2rem;
        margin-top: 6rem;
        //rząd
        .row {
            display: flex;
            margin-top: 2rem;
            gap: 1rem;
            //kontener ogólnie
            .header {
                width: 50%;
            }
            .text {
                width: 50%;
            }
            .container {
                border-radius: 1rem;
                box-shadow: 10px 0px 100px 0px hsla(0, 0%, 0%, 0.545);
                background: hsla(0, 0%, 0%, 0.524);
                backdrop-filter: blur(3px);
                padding: 1rem;
                font-size: x-large;
                font-family: 'Roboto', sans-serif;
                //tekst
                h1 {
                    font-family: 'Abel', sans-serif;
                    width: 40%;
                    font-weight: 600;
                    text-align: left;
                    border-bottom: hsla(0, 0%, 100%, 0.4) 2px solid;
                }
                h3,
                h2 {
                    font-family: 'DM Mono', monospace;
                    width: 80%;
                    font-weight: 600;
                    border-bottom: hsla(0, 0%, 100%, 0.4) 2px solid;
                }
                p {
                    font-weight: 300;
                }
                //obraz
                img {
                    height: 532px;
                    border: 5px hsla(0, 0%, 0%, 0.324) solid;
                    border-radius: 5px;
                }
                //lista
                ul {
                    font-weight: 300;
                    font-size: large;
                    list-style-type: square;
                }
                ol {
                    font-weight: 300;
                    font-size: 17px;
                    li {
                        padding-top: 0.4rem;
                        span {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

//informacje
.informacje {
    background: url(../../assets/images/DSC08915.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .context-informacje {
        margin: 2rem;
        margin-top: 6rem;
        .row {
            display: flex;
            margin-top: 2rem;
            gap: 1rem;
            //kontener ogólnie
            .container {
                border-radius: 1rem;
                box-shadow: 10px 0px 100px 0px hsla(0, 0%, 0%, 0.545);
                background: hsla(0, 0%, 0%, 0.524);
                backdrop-filter: blur(3px);
                padding: 1rem;
                font-size: x-large;
                font-family: 'Roboto', sans-serif;
                //tekst
                h1 {
                    font-family: 'Abel', sans-serif;
                    font-weight: 600;
                    width: 80%;
                    border-bottom: hsla(0, 0%, 100%, 0.4) 2px solid;
                }
                h3,
                h2 {
                    font-family: 'DM Mono', monospace;
                    width: 80%;
                    font-weight: 600;
                    border-bottom: hsla(0, 0%, 100%, 0.4) 2px solid;
                }
                p {
                    font-weight: 300;
                }
                //obraz
                img {
                    height: 532px;
                    border: 5px hsla(0, 0%, 0%, 0.324) solid;
                    border-radius: 5px;
                }
                //tabela
                table,
                td,
                th {
                    border: 3px solid hsla(0, 0%, 100%, 0.336);
                    border-collapse: collapse;
                }
                td,
                th {
                    padding: .30em;
                    font-size: 2rem;
                }
                td {
                    font-weight: 300;
                }
                th {
                    font-weight: 400;
                    text-align: left;
                }
            }
        }
    }
}

//atrakcje
.atrakcje {
    background: url(../../assets/images/DSC08874.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .context-atrakcje {
        margin: 2rem;
        margin-top: 6rem;
        .row {
            display: flex;
            margin-top: 2rem;
            gap: 1rem;
            //kontener ogólnie
            .container {
                border-radius: 1rem;
                box-shadow: 10px 0px 100px 0px hsla(0, 0%, 0%, 0.545);
                background: hsla(0, 0%, 0%, 0.524);
                backdrop-filter: blur(3px);
                padding: 1rem;
                font-size: x-large;
                font-family: 'Roboto', sans-serif;
                //tekst
                h1 {
                    font-family: 'Abel', sans-serif;
                    font-weight: 600;
                    text-align: right;
                }
                h3,
                h2 {
                    font-family: 'DM Mono', monospace;
                    width: 80%;
                    font-weight: 600;
                    border-bottom: hsla(0, 0%, 100%, 0.4) 2px solid;
                }
                p {
                    font-weight: 300;
                }
                //obraz
                img {
                    height: 475px;
                    border: 5px hsla(0, 0%, 0%, 0.324) solid;
                    border-radius: 5px;
                }
            }
            .smaller {
                img {
                    height: 350px;
                }
            }
            .ja {
                height: 267px;
                width: 620px;
            }
        }
    }
}